.quote {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.quote div {
  width: 70vw;
}

.quote .author {
  color: #f5913e;
}

@media screen and (max-width: 576px) {
  .quote {
    margin-top: 10px;
  }
}
